.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
    max-width: 1017px;
    margin: 0 auto;
}

.header__logo {
    margin-top: 34px;
}

.header__lead-title {
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 91px;
    margin: 0;
}

.header__lead-subtitle {
    width: 60%;
    padding-top: 32px;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.header__rectangle-kalegin {
    margin-top: 64px;
    width: 100%;
    filter: grayscale(100%);
}

@media screen and (max-width: 420px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 420px) {
    .header__lead_title {
        width: 80%;
        font-weight: 900;
        line-height: 44px;
        padding-top: 50px;
        margin: 0 16px;
        font-size: 40px;
    }
}

@media screen and (max-width: 768px) {
    .header__lead_subtitle {
        width: 80%;
        padding-top: 99px;
    }
}

@media screen and (max-width: 420px) {
    .header__lead_subtitle {
        width: 80%;
        margin: 0 16px;
        font-size: 16px;
        padding-top: 60px;
    }
}