/*.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/blocks/images/__background-min.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 740px;
    max-width: 1184px;
    opacity: 1;
    transition: 1s;
}

.cover:hover {
    opacity: 0.5;
}*/

.cover {
    position: relative;
    display: flex;
    height: 740px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/blocks/images/__background-min.png);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    margin: auto;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
}

.cover__text {
    position: relative;
    line-height: 76px;
    font-weight: 900;
    font-size: 72px;
    color: #ffffff;
    margin-bottom: 32px;
    background-color: transparent;
}

.cover__description {
    position: relative;
    width: 280px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 32px;
    text-align: center;
    background-color: transparent;
}

.cover__button {
    position: relative;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    color: #ffffff;
    background-color: #0278FE;
    border: none;
    border-radius: 5px;
    transition: .5s;
}

.cover__button:hover {
    background-color: #ffffff;
    color: #0278FE;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 92px;
}

.footer__author {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #ffffff;
    padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        height: 746px;
        margin: 92px 0 0;
    }
}



@media screen and (max-width: 420px) {
    .cover {
        width: 100%;
        height: 254px;
        margin: 120px 0 0;
    }
}

@media screen and (max-width: 420px) {
    .cover__text {
        font-size: 32px;
        line-height: 30px;
        font-weight: bold;
        margin-top: 38px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 420px) {
    .cover__description {
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 420px) {
    .cover__button {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 85px;
    }
}

@media screen and (max-width: 420px) {
    .footer {
        margin-top: 60px;
    }
}